<div>
  {{ title }}
</div>
<div class="vertical-scroll-table">
  <table v-for="data in months" class="sticky_table">
    <thead>
      <tr>
        <th colspan="4">{{ data.month }}月</th>
      </tr>
      <tr>
        <th style="width: 10%;">日</th>
        <th style="width: 10%;">曜日</th>
        <th>行事名</th>
        <th style="width: 10%;">種類</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="schedul in getSchedulerList(data.month)">
        <td>{{ schedul.day }}</td>
        <td style="text-align: center;">{{ schedul.dayOfWeek }}</td>
        <td>{{ schedul.event }}</td>
        <td style="text-align: center;">{{ schedul.type }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <ons-button onclick="alert('Hello World!')">Click Me</ons-button>
</div>
